<html data-theme="dark">
  <head>
    <title>Certificate Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="./static/css/style.css" rel="stylesheet">
  </head>
  <body class="text-slate-100 font-medium">
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a class="hover:bg-indigo-700 transition-color duration-200 delay-200">Home</a></li>
            <li tabindex="0">
              <a class="justify-between hover:bg-indigo-700 transition-color duration-200 delay-200">
                Certificates
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
              </a>
              <ul class="p-2">
                <li><a class="hover:bg-indigo-700 transition-color duration-200 delay-200">View My Certificates</a></li>
                <li><a class="hover:bg-indigo-700 transition-color duration-200 delay-200">Download Certificate</a></li>
              </ul>
            </li>
            <li><a href="https://micvitc.github.io/" rel="noopener noreferrer" target="_blank" class="hover:bg-indigo-700 transition-color duration-200 delay-200">About Us</a></li>
          </ul>
        </div>
        <a class="btn btn-ghost normal-case text-xl hover:bg-indigo-700 transition-color duration-200 delay-200">Certificate Generator</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 ">
          <li><a href="/" class="hover:bg-indigo-700 transition-color duration-200 delay-200">Home</a></li>
          <li tabindex="0">
          <li><a href="https://micvitc.github.io/" rel="noopener noreferrer" target="_blank" class="hover:bg-indigo-700 transition-color duration-200 delay-200">About Us</a></li>
          <li tabindex="0">
            <a class="justify-between hover:bg-indigo-700 transition-color duration-200 delay-200">
              Certificates
              <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 711 240 471l43-43 197 198 197-197 43 43-240 239Z"/></svg>
              <!--svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg-->
            </a>
            <ul class="p-2">
              <li><a class="hover:bg-indigo-700 transition-color duration-200 delay-200">View My Certificates</a></li>
              <li><a class="hover:bg-indigo-700 transition-color duration-200 delay-200">Download Certificate</a></li>
            </ul>
          </li>
        </ul-->
      </div>
      <div class="navbar-end text-slate-100">
        <a href="/login" class="btn btn-primary text-slate-100">Login</a>
      </div>
    </div>
    <div class="hero min-h-screen bg-base-200 lg:px-36">
      <div class="hero-content flex-col lg:flex-row-reverse lg:gap-48">
        <img src="https://raw.githubusercontent.com/micvitc/micvitc.github.io/aa58aedb686eaba726e48f4e3ccf8fe436b3fec8/assets/img/MIC%20Logo.svg" class="max-w-sm rounded-lg shadow-2xl animate-bounce" />
        <div>
          <h1 class="text-5xl font-bold text-center animate-fade">MIC Certificate Generator</h1>
          <p class="py-6 font-normal italic text-center">Introducing our certificate generator app: effortlessly create stylish certificates with precision and ease. Honor achievements, organize events, and recognize accomplishments with flawless details and impeccable formatting. Embrace efficiency and creativity today!</p>
          <div class="flex flex-col items-center justify-center">
          <a href="/signup" class="btn btn-primary">Get Started</a>
        </div>
        </div>
      </div>
    </div>
    <div flex flex-col h-screen justify-between>
      <footer class="footer footer-center p-4 bg-base-300 text-base-content h-10 text-slate-100 font-medium">
        <div>
          <p>Copyright &copy; 2023 - All right reserved by Microsoft Innovations Club VIT Chennai</p>
        </div>
      </footer>
    </div>
  </body>
</html>
