{% extends "base.html" %}

{% block content %}

    <div class="hero min-h-screen bg-base-200 lg:px-36">
      <div class="hero-content flex-col lg:flex-row-reverse lg:gap-48">
        <img src="https://raw.githubusercontent.com/micvitc/micvitc.github.io/aa58aedb686eaba726e48f4e3ccf8fe436b3fec8/assets/img/MIC%20Logo.svg" class="max-w-sm rounded-lg shadow-2xl animate-bounce" />
        <div>
          <h1 class="text-5xl font-bold text-center animate-fade">MIC Certificate Generator</h1>
          <p class="py-6 font-normal italic text-center">Introducing our certificate generator app: effortlessly create stylish certificates with precision and ease. Honor achievements, organize events, and recognize accomplishments with flawless details and impeccable formatting. Embrace efficiency and creativity today!</p>
          <div class="flex flex-col items-center justify-center">
          <a href="/signup" class="btn btn-primary">Get Started</a>
        </div>
        </div>
      </div>
    </div>
    <div flex flex-col h-screen justify-between>
      <footer class="footer footer-center p-4 bg-base-300 text-base-content h-10 text-slate-100 font-medium">
        <div>
          <p>Copyright &copy; 2023 - All right reserved by Microsoft Innovations Club VIT Chennai</p>
        </div>
      </footer>
    </div>
    {% endblock %}

    